<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4>Student Details
                <a href="/" class="btn btn-danger float-end">Back</a>
            </h4>
        </div>
        <div class="card-body">

                <form>
                    <div class="mb-3">
                        <label for="">Student-Id</label>
                        <input type="text" name="id" [(ngModel)]="student.id" class="form-control" disabled/>
                    </div>

                    <div class="mb-3">
                        <label for="">Name</label>
                        <input type="text" name="name" class="form-control"  [(ngModel)]="student.name" disabled/>
                    </div>

                    <div class="mb-3">
                        <label for="">Email</label>
                        <input type="email" name="email" [(ngModel)]="student.email" class="form-control" disabled/>
                    </div>

                    <div class="mb-3">
                        <label for="">Password</label>
                        <input type="password" name="password" [(ngModel)]="student.password" class="form-control" disabled/>
                    </div>

                    <div class="mb-3">
                        <label for="">Role</label>
                        <input type="text" name="role" class="form-control" [(ngModel)]="student.role" disabled/>
                    </div>
                    
                </form>

        </div>
    </div>
</div>